<% /* views/index.ejs */ %>
<% include application/head %>
<% include application/nav %>

    <article>
    	<h2>About Nick</h2>
    	<p>Business and user goals are my prime consideration. I strive to provide the most pleasant experience on the way there through iterative process and solid UX.</p>
   	</article>

<% include application/foot %>
