<% /* views/application/foot.ejs */ %>
		</main>

		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/jquery.fitvids/jquery.fitvids.js"></script>
		<script src="/javascripts/main.js"></script>
  </body>
</html>
