<% /* views/application/head.ejs */ %>
<!DOCTYPE html>
<html>
  <head lang="en">
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  <header>
  	<h1><%= title %></h1>
  	<p class="byline">Art direction — front-end — UX</p>
  </header>
  <main>
